@import "nib"

@import "base/vars"
@import "base/mixins"
@import "base/fonts"
@import "base/libs"
@import "base/defaults"
@import "base/keyframes"

@import "blocks/header"
@import "blocks/nav"
@import "blocks/logo"
@import "blocks/about"
@import "blocks/card"
@import "blocks/stack-technologies"
@import "blocks/education"
@import "blocks/portfolio"
@import "blocks/certificates"
@import "blocks/contacts"
@import "blocks/footer"

@import "components/hamburger"
@import "components/arrow-down"
@import "components/image-zoom"