@charset "utf-8";
@import "nib"
@import "_vars.styl"
@import "fonts.styl"
/*RESET BROWSER'S STYLES*/
global-reset()  //reset.css
//or
//@import "normalize.css"; 

/*BASIC STYLES*/
.clearfix
  clearfix()

* 
  box-sizing border-box
  
html
  font-size 100%
  
body
  color $font-color
  font-size 1.1rem
  letter-spacing 2px
  line-height 1.6
  font-family 'RalewayRegular'
  overflow-x hidden
  font-smoothing antialiased
  scroll-behavior smooth

/*============================================*/

//Custom Styles Here 
canvas
  height 100% !important
  width 100% !important
  
a
  &:link 
    color $font-color
    text-decoration none
  &:visited 
    color $font-color
  &:hover 
    color $bg-color
    text-decoration none
  &:active 
    color $theme-color
    
.active
  color $theme-color

//preloader
.loader 
  background: none repeat scroll 0 0 $bg-color
  bottom: 0
  height: 100%
  left: 0
  position: fixed
  right: 0
  top: 0
  width: 100%
  z-index: 9999

.loader-inner 
  background-image: url("/img/load.gif")
  background-repeat: no-repeat
  background-position: center center
  background-size cover
  background-color: $bg-color
  height: 60px
  width: 60px
  margin-top: -30px
  margin-left: -30px
  left: 50%
  top: 50%
  position: absolute

//header menu
.top-bg
  background-image url(/img/milky-way2.jpg)
  background-size cover
  background-repeat no-repeat

header
  height 100vh
  background-color $font-black
  background transparent
  .top-menu-wrap
    position fixed
    top 50px
    right 50px
    z-index 999
    width 50px
    height 50px
    background-color $bg-transparent
    outline 2px solid $bg-color
    .toggle-mnu 
      margin auto
      display: block
      width: 28px
      height: 28px
      margin-top: 14px
      span:after, span:before 
        content: ""
        position: absolute
        left: 0
        top: 9px
      span:after
        top: 18px
      span 
        position: relative
        display: block
      span, span:after, span:before
        width: 100%
        height: 3px
        background-color: $bg-color
        backface-visibility: hidden
        border-radius: 2px
        transition: all 0.3s ease
      &.on span 
        background-color: transparent
      &.on span:before 
        transform: rotate(45deg) translate(-1px, 0px)
      &.on span:after 
        transform: rotate(-45deg) translate(6px, -7px)
  .main-mnu
    display none
    position fixed
    z-index 998
    top 0
    left 0
    width 100%
    height 100%
    padding-top 14%
    text-align center
    background-color $bg-transparent
    ul
      animation-delay .5s
      animation-duration 1s
      a
        display block
        padding 20px 0
        text-align center
        font-size 12px
        letter-spacing 4px
        color $bg-color
        text-transform uppercase
        transition all 1s ease
        &:hover
          color $theme-color
          text-decoration none
          background-color rgba(31, 27, 23, 0.73)
          transition all 1s ease

//logo
.logo
  margin-top -60vh
  text-align center
  vertical-align middle
  color $bg-color
  font-family 'RalewaySemiBold',sans-serif
  transition all 1s ease
  h1, p
    display inline-block
    text-transform uppercase
  h1
    margin-bottom 8px
    padding 4px 35px
    font-size 3rem
    border 5px solid $bg-color
    letter-spacing 7px
    animation-delay 1s
    animation-duration 3s
  p
    color #d3d2d2
    letter-spacing 16px
    font-size 1.2rem
    animation-delay 1s
    animation-duration 3s
  &.off
    opacity .6
    transition all 1s ease
    
.arrow-down
  margin-top 10vh
  width 73px
  height 47px
  background url('/img/arrow_down.png') no-repeat center
  transition all .5s ease
  cursor pointer
  border-radius 68%
  border 1px solid rgba(255, 255, 255, 0)
  &:hover
    border-color white