@charset "utf-8";

@import "nib"  //mixins for stylus
@import "boilerplate.styl"
@import "_vars.styl"
@import "fonts.styl"

//Load libs
@import "../assets/libs/animate.css/animate.min.css"
@import "../assets/libs/magnific-popup/dist/magnific-popup.css"

/*Custom Styles Here*/
section
  padding 70px 0 90px
  background-color $bg-color
  h2, .desc
    color $font-black
    margin 0 0 15px
    text-align center
    font-size 1.5rem
    text-transform uppercase
    font-family 'RalewayBold'
    letter-spacing 1px
  .desc
    color $font-black
    font-size .9rem
    letter-spacing 4px
    &+hr
      width 140px
      height 1px
      margin-top 30px
      margin-bottom 40px
      background-color $theme-color
      border 0
  p
    margin-bottom 10px
    font-size 1rem
    letter-spacing 1px
  
//sectiom about
.about
  text-align center
  background-color $sect-grey
  .myself
    margin-bottom 25px
    width 50%
    max-width 225px
    min-width 200px
    border-radius 50%
    box-shadow 27px 38px 52px -23px $font-black
    opacity 0
  a
    color $theme-color
    &:hover
      text-decoration underline
  
//section skills
.skills
  &-list
    text-align right
    border-right 1px solid $theme-color
    li
      color $font-black
      font-size 1.1rem
      letter-spacing 0
      text-transform uppercase
  .icons
    text-align left
    img
      max-height 77px
      max-width 80px
      margin 10px 10px
      
//section education  
.education
  background-color  $font-black
  h2, span
    color $bg-color
  p
    color #888
  .anim5, .anim10
    text-align center
  ul
    list-style none
    li
      display block
      &:nth-child(odd)
        float left
        min-width 500px
      &:nth-child(even)
        float right
        min-width 215px
        text-align right

//section portfolio
.portfolio
  text-align center
  
  //плитки ------------------------------!
/*Thumbnail Background*/
.thumb
  margin auto
  margin-bottom 110px
  width 350px
  height 173px
  perspective 1000px
  &:hover a 
    transform rotateX(80deg) 
    transform-origin bottom
  a
    position relative
    z-index 20
    display block
    width 100%
    height 100%
    /*disabling the translucent black bg on the main image*/
    background-size 0, cover
    /*3d space for children*/
    transform-style preserve-3d
    transition all 0.5s
    /*shadow*/
    &:before 
      content: ''; position: absolute; top: 0; left: 0
      width: 100%; height: 100%
      background: rgba(0, 0, 0, 0.5)
      box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5)
      transition: all 0.5s
      /*by default the shadow will be almost flat, very transparent, scaled down with a large blur*/
      opacity: 0.15
      transform: rotateX(95deg) translateZ(-80px) scale(0.75)
      transform-origin: bottom
    /*bottom surface */
    &:after
      /*36px high element positioned at the bottom of the image*/
      content: ''
      position: absolute
      left: 0
      bottom: 0
      width: 100%
      height: 36px
      /*inherit the main BG*/
      background: inherit
      background-size: cover, cover
      /*draw the BG bottom up*/
      background-position: bottom
      /*rotate the surface 90deg on the bottom axis*/
      transform: rotateX(90deg)
      transform-origin: bottom
    /*label style*/
    span 
      color: white
      text-transform: uppercase
      position: absolute
      top: 100%
      left: 0
      width: 100%
      font: bold 12px/36px Montserrat
      text-align: center
      /*the rotation is a bit less than the bottom surface to avoid flickering*/
      transform: rotateX(-89.99deg)
      transform-origin: top
      z-index: 1

.thumb:hover a:before
  opacity: 1
  /*blurred effect using box shadow as filter: blur is not supported in all browsers*/
  box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5)
  /*pushing the shadow down and scaling it down to size*/
  transform: rotateX(0) translateZ(-60px) scale(0.85)
  
.back
  position absolute
  left 26px
  width 298px
  height 173px
  padding 4px 7px
  text-align left
  background #ededed
  overflow hidden
  p
    font-size 1rem
    color $font-black

//ФОНЫ
.work1 
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/img/portfolio/clientmagnet.ru.png");
  
.work2 
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/img/portfolio/detalno.png");
  
.work3 
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/img/portfolio/kabinetdesign.ru.png");
  
.work4 
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/img/portfolio/topice.png");
  
.work5
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/img/portfolio/narkologplus.ru.png");

.work6
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/img/portfolio/Bdstdio.png");
  
.work7 
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/img/portfolio/hrustal.png");
  
.work8 
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/img/portfolio/laarde.png");
  
.work9 
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/img/portfolio/landing.png");
  
.work10 
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/img/portfolio/posokhov.png");
  
.work11
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/img/portfolio/gor-hrustal.png");

.work12
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/img/portfolio/westa.png");
//end -- плитки ------------------------------! 


//section certificates
.certificates
  background-color  $font-black
  h2, span
    color $bg-color
  p
    color #888
  ul
    list-style none
    padding 0
    margin 0
    text-align center
    li
      display inline-block
      margin 0 20px 30px
      text-transform uppercase
      font-size .8rem
      cursor pointer
  .certificates-gallery
    text-align center
    .mix
      display none
    img
      width 200px
      margin 5px
      box-shadow 2px 2px 10px 1px black

//contacts
.contacts
  .cont
    p
      position relative
      padding-left 60px
      margin-bottom 37px
      &:before
        content ''
        position absolute
        top -12px
        left 0
        width 40px
        height 40px
        background-repeat no-repeat
        background-size cover
      &:nth-child(1):before
        background-image url(/img/icons-cont/map.svg)
      &:nth-child(2):before
        background-image url(/img/icons-cont/phone.svg)
      &:nth-child(3):before
        background-image url(/img/icons-cont/gmail_mail.svg)
      &:nth-child(4):before
        background-image url(/img/icons-cont/skype.svg)
      &:nth-child(5):before
        background-image url(/img/icons-cont/vkontakte.svg)
      &:nth-child(6):before
        background-image url(/img/icons-cont/github.svg)
      &:nth-child(7):before
        background-image url(/img/icons-cont/linkedin.svg)
  a:hover 
    color $font-black
  input
    min-height 35px
  textarea
    min-height 100px
  input, textarea, .btn-send
    display block
    width 100%
    margin-bottom 5px
    border 1px solid #ccc
    line-height 40px
    text-indent 12px
    font-size 12px
    letter-spacing 2px
    outline-color $font-black
.btn-send
  background-color $font-black
  color white 
  text-align center
  transition all 1s ease
  &:hover
    color white !important
    background-color #5a5e60
    
//footer
footer
  padding 50px 0
  text-align center
  background-color $font-black
  .on-top
    margin-bottom 15px
    margin-top 0
    width 60px
    height 34px
    background url(/img/top.png) no-repeat center
    cursor pointer
  .social
    width 30px
    margin 0 10px
  p
    margin-top 15px
    font-size .9rem
  
//hidden
.white-popup-block
  width 20%
  min-width 250px
  max-width 500px
  margin auto
  padding 20px
  background-color $bg-color
  h3
    font-size 1rem
    font-weight 700
    margin-bottom 10px
  .close-popup-wrap
    margin-top 20px
    text-align center
    a
      color black
      outline 1px solid $font-color
      outline-offset 5px
      &:hover
        outline-color $theme-color
    

//для галлерей
.mfp-fade.mfp-bg 
  opacity: 0;
  transition: all .7s ease-out;
  
.mfp-fade.mfp-bg.mfp-ready 
  opacity: 0.8;

.mfp-fade.mfp-bg.mfp-removing 
  opacity: 0;

.mfp-fade.mfp-wrap .mfp-content 
  opacity: 0;
  transition: all .7s ease-out;

.mfp-fade.mfp-wrap.mfp-ready .mfp-content 
  opacity: 1;
  
.mfp-fade.mfp-wrap.mfp-removing .mfp-content 
  opacity: 0;

//анимации
.anim1, .anim2, .anim2-2, .anim2-3, .anim3, ol>li, .icons>img, .anim4, .anim5 p, .anim7>li:nth-child(odd), .anim7>li:nth-child(even), .anim8, .anim9, .anim10
  opacity 0
  animation-duration 2s
  
  

//ALWAYS END
@import "_media.styl"