.header
    min-height 100vh

    &__bg
        min-height 100vh
        position: relative;
        width: 100%;
        background: #333;
        overflow: hidden;
        background-size: cover;
        z-index: 1;
        background-image: url(/img/demo-2-bg.jpg);
        background-position: center bottom;
        background-repeat: no-repeat;